<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
  </header>
  <div id="page" [@moveInLeft]="state">
    <h2 *ngIf="userInfo | async as info">My Collection </h2>
  </div>
  <mat-grid-list *ngIf="collection | async as col" cols="4" rowHeight="400px">
    <mat-grid-tile
        *ngFor="let book of col.books"
        [colspan]="1"
        [rowspan]="1">
      <mat-card [class.isComplete]="book.progress.isComplete" [class.locked]="book.isLocked" class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>{{ book.info.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.info.author }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip class="topic" selected color="accent">
              {{ book.info.topic }}
            </mat-chip>
            <mat-chip class="lessons" selected color="accent">
                {{ book.info.length }} Lessons
            </mat-chip>
            <mat-chip class="status" selected color="accent">
                <div *ngIf="book.progress.isComplete; else progress">
                  Completed   
                </div>         
                <ng-template #progress>
                  In Progress
                </ng-template>
            </mat-chip>
            <mat-chip class="stars" >
              <li [style.display]="'inline'" *ngFor="let numb of intToArray(book.progress.stars)">
                <mat-icon [style.color]="'gold'">grade</mat-icon>
              </li>
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-footer>
          <button mat-raised-button (click)="enterBook(book)" color="primary">Continue</button>
          <button mat-button>SHARE</button>
        </mat-card-footer>
        <div *ngIf="book.isLocked" class="card-mask">
            <mat-icon class="lockIcon">lock</mat-icon>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>